.member {
  .next-event {
    i {
      @include fade-animation(1s);
    }
  }

  .logo-wrapper {
    text-align: center;

    .logo-content {
      display: inline-block;
      position: relative;
    }
  }

  .next-event {
    position: absolute;
    top: 0;
    left: 0;
  }
}
